* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #0097B2, #7ED957, #0097B2, #7ED957);
    background-size: 300% 300%;
    position: fixed;
    animation: color 20s ease-in-out infinite;
    overflow-y: auto;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.recyclr {
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    width: 100%;
    color: #ffffff;
    font-weight: bolder;
    font-size: 50px;
    padding: 8px 20px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10%;
    background: linear-gradient(160deg, #bb0bbbe1, #1153e2a9);
}

.header_shop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}


.shop_title {
    text-decoration: none;
    font-family: 'Garet', sans-serif;
    font-weight: bolder;
    font-size: 33px;
    padding: 8px 25px;
    border-radius: 15px;
    align-content: center;
    margin: 25px;
    margin-left: 5%;

    background-color: white;
}

.category_title{
    text-decoration: none;
    font-family: 'Garet', sans-serif;
    font-weight: bolder;
    font-size: 33px;
    padding: 8px 20px;
    border-radius: 15px;
    align-content: center;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 80%;
    background-color: white;
    position: absolute;
}


.search-container {
    display: flex;
    margin-left: 25px;
    vertical-align: middle;
    float: left;
    flex-direction: row;


}

.disp-flex {
    display: flex;
    flex-direction: row;
}

.search-button {
    display: flex;
    padding: 10px 10px;
    height: 50%;
    width: 35px;
    margin-top: 25px;
    background: #ddd;
    font-size: 22px;
    border-radius: 16px;
    border: none;
    vertical-align: middle;
}

.icon_img {
    margin: auto;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .header_shop .search-container {
        float: none;
    }

    .header_shop a,
    .header_shop input[type=text],
    .header_shop .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .header_shop input[type=text] {
        border: 1px solid #ccc;
    }
}

.account {
    position: absolute;
    top: 30px;
    right: -240px;
}

.wishlist_items {
    display: flex;
    position: relative;
    align-self: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10%;
    margin-left: 4%;

}








.checkout{
    margin-top: 40px;
    background-color: #f0f0f0;
    padding: 20px;
}

.ch_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}









.sell_options_buttons_row {
    display: flex;
    position: relative;
    align-self: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4.5%;
    margin-left: 4%;

}

.button {
    display: inline-flex;
    background-color: #ffffff;
    margin-left: 10px;
    border: none;
    color: black;
    padding: 5px;
    padding-right: -10px;
    text-align: left;
    align-items: left;
    text-decoration: none;
    height: 90px;

    display: inline-flex;
    font-family: 'garet', sans-serif;
    font-weight: bold;
    font-size: 30px;
    border-radius: 16px;

    filter: brightness(5%);
    filter: contrast(5%);
    filter: drop-shadow(10px 10px 10px rgb(45, 46, 45));
    transition: .5s ease-in-out;
}

.button:hover {
    transform: translateY(-10px) translateX(5px)
}

.txt {
    padding-left: 4%;
    padding-right: 2%;
    text-align: left;
}

.navbar a {
    display: inline-flex;
    display: flex;
    position: relative;
    align-self: center;
    flex-direction: row;
    margin-top: 10%;
    margin-left: 4%;
    transition: .5s ease-in-out;
}

.navbar a:hover {
    transform: translateY(-5px)
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 30px;
    padding-left: 2%;
    padding-right: 2.5%;
    padding-bottom: 1%;
    bottom: 2%;
    overflow: hidden;
    position: fixed;
    margin-left: 45%;
    justify-self: center;


}


.buy_img {
    display: inline-flex;
    width: 16%;
    margin-top: 5%;
    margin-left: 5%;
    filter: brightness(5%);
    filter: contrast(5%);
    filter: drop-shadow(10px 10px 10px rgb(45, 46, 45));
    transition: .5s ease-in-out;
}

.buy_text {
    display: flex;
    flex-direction: column;
    text-align: right;
    float: right;
    margin-right: 3%;
}

.buy_buttons {
    display: flex;
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 5px;
    padding-right: -10px;
    text-align: left;
    align-items: left;
    text-decoration: none;
    font-family: 'garet', sans-serif;
    font-weight: bold;
    font-size: 32px;
    border-radius: 16px;
    margin-top: 25px;

    filter: brightness(5%);
    filter: contrast(5%);
    filter: drop-shadow(10px 10px 10px rgb(45, 46, 45));
    transition: .5s ease-in-out;
}

.rem_wl_buttons {
    display: flex;
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 1px;
    text-align: left;
    align-items: left;
    text-decoration: none;
    font-family: 'garet', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 25px;

    filter: brightness(5%);
    filter: contrast(5%);
    filter: drop-shadow(10px 10px 10px rgb(45, 46, 45));
    transition: .5s ease-in-out;
}

.img li {
    display: inline-flex;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: -90px;
    filter: brightness(5%);
    filter: contrast(5%);
    filter: drop-shadow(10px 10px 10px rgb(45, 46, 45));
    transition: .5s ease-in-out;
}



.top-thing {
    display: flex;
    flex-direction: row;
}

.sidenav-container {
    margin-left: 10px;
    margin-top: 20px;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1a1919e3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Garet', sans-serif;    
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.footer {
    bottom: 0;
    background-color: #f3fff5;
    margin-top: 80px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.footer-container {
    max-width: 990px;
    margin: 0 auto;
}